.docman_list_layout {
  @include clearfix;
}

.docman_list__sidebar {
  display: block;
  overflow: auto;
  margin-bottom: 1em;

  @media (min-width:600px) {
    float: left;
    width: 23%;
    margin-right: 2%;

    @at-root [dir="rtl"] & {
      float: right;
      margin-right: 0;
      margin-left: 2%;
    }
  }

  @media (min-width:960px) {
    width: 32%;
  }
}

.docman_list__content {
  display: block;

  @media (min-width:600px) {
    float: left;
    width: 75%;

    @at-root [dir="rtl"] & {
      float: right;
    }
  }

  @media (min-width:960px) {
    width: 66%;
  }
}