/** Component styling ================= Used in Joomla views that are not controlled by us, such as menu and module views */
/** Joomla variables ---------------- Load first to win over "!default" variables defined in core/_tools.scss */
/* Relative path to icon font */
/** Original files can be found in Joomlatools UI */
/** Component styling ================= Used in Joomla views that are not controlled by us, such as menu and module views */
/** Global tools ------------ Containing different libraries, variables, mixins and functions */
/* ========================================================================== Tools ========================================================================== */
/* These file do not produce any CSS code on their own */
/** Needed styling -------------- Load needed styling in here */
.select2-container { box-sizing: border-box; display: inline-block; margin: 0; position: relative; vertical-align: middle; }

.select2-container .select2-selection--single { box-sizing: border-box; cursor: pointer; display: block; height: 28px; user-select: none; -webkit-user-select: none; }

.select2-container .select2-selection--single .select2-selection__rendered { display: block; padding-left: 8px; padding-right: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.select2-container .select2-selection--single .select2-selection__clear { position: relative; }

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered { padding-right: 8px; padding-left: 20px; }

.select2-container .select2-selection--multiple { box-sizing: border-box; cursor: pointer; display: block; min-height: 32px; user-select: none; -webkit-user-select: none; }

.select2-container .select2-selection--multiple .select2-selection__rendered { display: inline-block; overflow: hidden; padding-left: 8px; text-overflow: ellipsis; white-space: nowrap; }

.select2-container .select2-search--inline { float: left; }

.select2-container .select2-search--inline .select2-search__field { box-sizing: border-box; border: none; font-size: 100%; margin-top: 5px; padding: 0; }

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button { -webkit-appearance: none; }

.select2-dropdown { background-color: white; border: 1px solid #aaa; border-radius: 4px; box-sizing: border-box; display: block; position: absolute; left: -100000px; width: 100%; z-index: 1051; }

.select2-results { display: block; }

.select2-results__options { list-style: none; margin: 0; padding: 0; }

.select2-results__option { padding: 6px; user-select: none; -webkit-user-select: none; }

.select2-results__option[aria-selected] { cursor: pointer; }

.select2-container--open .select2-dropdown { left: 0; }

.select2-container--open .select2-dropdown--above { border-bottom: none; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below { border-top: none; border-top-left-radius: 0; border-top-right-radius: 0; }

.select2-search--dropdown { display: block; padding: 4px; }

.select2-search--dropdown .select2-search__field { padding: 4px; width: 100%; box-sizing: border-box; }

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button { -webkit-appearance: none; }

.select2-search--dropdown.select2-search--hide { display: none; }

.select2-close-mask { border: 0; margin: 0; padding: 0; display: block; position: fixed; left: 0; top: 0; min-height: 100%; min-width: 100%; height: auto; width: auto; opacity: 0; z-index: 99; background-color: #fff; filter: alpha(opacity=0); }

.select2-hidden-accessible { border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important; }

.select2-container--default .select2-selection--single { background-color: #fff; border: 1px solid #aaa; border-radius: 4px; }

.select2-container--default .select2-selection--single .select2-selection__rendered { color: #444; line-height: 28px; }

.select2-container--default .select2-selection--single .select2-selection__clear { cursor: pointer; float: right; font-weight: bold; }

.select2-container--default .select2-selection--single .select2-selection__placeholder { color: #999; }

.select2-container--default .select2-selection--single .select2-selection__arrow { height: 26px; position: absolute; top: 1px; right: 1px; width: 20px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b { border-color: #888 transparent transparent transparent; border-style: solid; border-width: 5px 4px 0 4px; height: 0; left: 50%; margin-left: -4px; margin-top: -2px; position: absolute; top: 50%; width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear { float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow { left: 1px; right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single { background-color: #eee; cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear { display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #888 transparent; border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple { background-color: white; border: 1px solid #aaa; border-radius: 4px; cursor: text; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered { box-sizing: border-box; list-style: none; margin: 0; padding: 0 5px; width: 100%; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered li { list-style: none; }

.select2-container--default .select2-selection--multiple .select2-selection__placeholder { color: #999; margin-top: 5px; float: left; }

.select2-container--default .select2-selection--multiple .select2-selection__clear { cursor: pointer; float: right; font-weight: bold; margin-top: 5px; margin-right: 10px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice { background-color: #e4e4e4; border: 1px solid #aaa; border-radius: 4px; cursor: default; float: left; margin-right: 5px; margin-top: 5px; padding: 0 5px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove { color: #999; cursor: pointer; display: inline-block; font-weight: bold; margin-right: 2px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover { color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline { float: right; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice { margin-left: 5px; margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove { margin-left: 2px; margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple { border: solid black 1px; outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple { background-color: #eee; cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove { display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple { border-top-left-radius: 0; border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field { border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field { background: transparent; border: none; outline: 0; box-shadow: none; -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options { max-height: 200px; overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] { padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] { color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] { background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option { padding-left: 1em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__group { padding-left: 0; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option { margin-left: -1em; padding-left: 2em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -2em; padding-left: 3em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -3em; padding-left: 4em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -4em; padding-left: 5em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -5em; padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #5897fb; color: white; }

.select2-container--default .select2-results__group { cursor: default; display: block; padding: 6px; }

.select2-container--classic .select2-selection--single { background-color: #f7f7f7; border: 1px solid false; border-radius: 4px; outline: 0; background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%); background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%); background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic .select2-selection--single:focus { border: 1px solid #5897fb; }

.select2-container--classic .select2-selection--single .select2-selection__rendered { color: #444; line-height: 28px; }

.select2-container--classic .select2-selection--single .select2-selection__clear { cursor: pointer; float: right; font-weight: bold; margin-right: 10px; }

.select2-container--classic .select2-selection--single .select2-selection__placeholder { color: #999; }

.select2-container--classic .select2-selection--single .select2-selection__arrow { background-color: #ddd; border: none; border-left: 1px solid false; border-top-right-radius: 4px; border-bottom-right-radius: 4px; height: 26px; position: absolute; top: 1px; right: 1px; width: 20px; background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%); background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%); background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }

.select2-container--classic .select2-selection--single .select2-selection__arrow b { border-color: #888 transparent transparent transparent; border-style: solid; border-width: 5px 4px 0 4px; height: 0; left: 50%; margin-left: -4px; margin-top: -2px; position: absolute; top: 50%; width: 0; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear { float: left; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow { border: none; border-right: 1px solid false; border-radius: 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px; left: 1px; right: auto; }

.select2-container--classic.select2-container--open .select2-selection--single { border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow { background: transparent; border: none; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #888 transparent; border-width: 0 4px 5px 4px; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single { border-top: none; border-top-left-radius: 0; border-top-right-radius: 0; background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%); background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%); background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single { border-bottom: none; border-bottom-left-radius: 0; border-bottom-right-radius: 0; background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%); background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%); background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }

.select2-container--classic .select2-selection--multiple { background-color: white; border: 1px solid false; border-radius: 4px; cursor: text; outline: 0; }

.select2-container--classic .select2-selection--multiple:focus { border: 1px solid #5897fb; }

.select2-container--classic .select2-selection--multiple .select2-selection__rendered { list-style: none; margin: 0; padding: 0 5px; }

.select2-container--classic .select2-selection--multiple .select2-selection__clear { display: none; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice { background-color: #e4e4e4; border: 1px solid false; border-radius: 4px; cursor: default; float: left; margin-right: 5px; margin-top: 5px; padding: 0 5px; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove { color: #888; cursor: pointer; display: inline-block; font-weight: bold; margin-right: 2px; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover { color: #555; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice { float: right; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice { margin-left: 5px; margin-right: auto; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove { margin-left: 2px; margin-right: auto; }

.select2-container--classic.select2-container--open .select2-selection--multiple { border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple { border-top: none; border-top-left-radius: 0; border-top-right-radius: 0; }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple { border-bottom: none; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.select2-container--classic .select2-search--dropdown .select2-search__field { border: 1px solid false; outline: 0; }

.select2-container--classic .select2-search--inline .select2-search__field { outline: 0; box-shadow: none; }

.select2-container--classic .select2-dropdown { background-color: white; border: 1px solid transparent; }

.select2-container--classic .select2-dropdown--above { border-bottom: none; }

.select2-container--classic .select2-dropdown--below { border-top: none; }

.select2-container--classic .select2-results > .select2-results__options { max-height: 200px; overflow-y: auto; }

.select2-container--classic .select2-results__option[role=group] { padding: 0; }

.select2-container--classic .select2-results__option[aria-disabled=true] { color: grey; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] { background-color: #3875d7; color: white; }

.select2-container--classic .select2-results__group { cursor: default; display: block; padding: 6px; }

.select2-container--classic.select2-container--open .select2-dropdown { border-color: #5897fb; }

/*! Select2 Bootstrap Theme v0.1.0-beta.4 | MIT License | github.com/select2/select2-bootstrap-theme */
.select2-container--bootstrap { display: block; /*------------------------------------*            #COMMON STYLES \*------------------------------------*/ /** Search field in the Select2 dropdown. */ /** No outline for all search fields - in the dropdown and inline in multi Select2s. */ /** Adjust Select2's choices hover and selected styles to match Bootstrap 3's default dropdown styles. @see http://getbootstrap.com/components/#dropdowns */ /** Clear the selection. */ /** Address disabled Select2 styles. @see https://select2.github.io/examples.html#disabled @see http://getbootstrap.com/css/#forms-control-disabled */ /*------------------------------------*            #DROPDOWN \*------------------------------------*/ /** Dropdown border color and box-shadow. */ /** Limit the dropdown height. */ /*------------------------------------*            #SINGLE SELECT2 \*------------------------------------*/ /*------------------------------------*        #MULTIPLE SELECT2 \*------------------------------------*/ /** Address Bootstrap control sizing classes 1. Reset Bootstrap defaults. 2. Adjust the dropdown arrow button icon position. @see http://getbootstrap.com/css/#forms-control-sizes */ /* 1 */ /*------------------------------------*        #RTL SUPPORT \*------------------------------------*/ }

.select2-container--bootstrap .select2-selection { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); background-color: white; border: 1px solid #cdcdcd; border-radius: 4px; color: #222222; font-family: inherit; font-size: 13px; outline: 0; }

.select2-container--bootstrap .select2-search--dropdown .select2-search__field { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); background-color: white; border: 1px solid #cdcdcd; border-radius: 4px; color: #222222; font-family: inherit; font-size: 13px; }

.select2-container--bootstrap .select2-search__field { outline: 0; /* Firefox 18- */ /** Firefox 19+ @see http://stackoverflow.com/questions/24236240/color-for-styled-placeholder-text-is-muted-in-firefox */ }

.select2-container--bootstrap .select2-search__field::-webkit-input-placeholder { color: #9a9a9a; }

.select2-container--bootstrap .select2-search__field:-moz-placeholder { color: #9a9a9a; }

.select2-container--bootstrap .select2-search__field::-moz-placeholder { color: #9a9a9a; opacity: 1; }

.select2-container--bootstrap .select2-search__field:-ms-input-placeholder { color: #9a9a9a; }

.select2-container--bootstrap .select2-results__option { /** Disabled results. @see https://select2.github.io/examples.html#disabled-results */ /** Hover state. */ /** Selected state. */ }

.select2-container--bootstrap .select2-results__option[role=group] { padding: 0; }

.select2-container--bootstrap .select2-results__option[aria-disabled=true] { color: #343434; cursor: not-allowed; }

.select2-container--bootstrap .select2-results__option[aria-selected=true] { background-color: #e6e6e6; color: #151515; }

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] { background-color: #3071a9; color: white; }

.select2-container--bootstrap .select2-results__option .select2-results__option { padding: 5px 10px; }

.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__group { padding-left: 0; }

.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option { margin-left: -10px; padding-left: 20px; }

.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -20px; padding-left: 30px; }

.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -30px; padding-left: 40px; }

.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -40px; padding-left: 50px; }

.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -50px; padding-left: 60px; }

.select2-container--bootstrap .select2-results__group { color: #343434; display: block; padding: 5px 10px; font-size: 11px; line-height: 20px; white-space: nowrap; }

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 152, 219, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(52, 152, 219, 0.6); transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s 180ms cubic-bezier(0.2, 0.57, 0.44, 0.83); -webkit-backface-visibility: hidden; border-color: #3498db; }

.select2-container--bootstrap.select2-container--open { /** Make the dropdown arrow point up while the dropdown is visible. */ /** Handle border radii of the container when the dropdown is showing. */ }

.select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow b { border-color: transparent transparent #9a9a9a transparent; border-width: 0 4px 4px 4px; }

.select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection { border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-bottom-color: transparent; }

.select2-container--bootstrap.select2-container--open.select2-container--above .select2-selection { border-top-right-radius: 0; border-top-left-radius: 0; border-top-color: transparent; }

.select2-container--bootstrap .select2-selection__clear { color: #9a9a9a; cursor: pointer; float: right; font-weight: bold; margin-right: 10px; }

.select2-container--bootstrap .select2-selection__clear:hover { color: #333; }

.select2-container--bootstrap.select2-container--disabled .select2-selection { border-color: #cdcdcd; -webkit-box-shadow: none; box-shadow: none; }

.select2-container--bootstrap.select2-container--disabled .select2-selection, .select2-container--bootstrap.select2-container--disabled .select2-search__field { cursor: not-allowed; }

.select2-container--bootstrap.select2-container--disabled .select2-selection, .select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice { background-color: #ddd; }

.select2-container--bootstrap.select2-container--disabled .select2-selection__clear, .select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice__remove { display: none; }

.select2-container--bootstrap .select2-dropdown { -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); border-color: #3498db; overflow-x: hidden; margin-top: -1px; }

.select2-container--bootstrap .select2-dropdown--above { margin-top: 1px; }

.select2-container--bootstrap .select2-results > .select2-results__options { max-height: 200px; overflow-y: auto; }

.select2-container--bootstrap .select2-selection--single { height: 32px; line-height: 20px; padding: 5px 22px 5px 10px; /** Adjust the single Select2's dropdown arrow button appearance. */ }

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow { position: absolute; bottom: 0; right: 10px; top: 0; width: 4px; }

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b { border-color: #9a9a9a transparent transparent transparent; border-style: solid; border-width: 4px 4px 0 4px; height: 0; left: 0; margin-left: -4px; margin-top: -2px; position: absolute; top: 50%; width: 0; }

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered { color: #222222; padding: 0; }

.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder { color: #9a9a9a; }

.select2-container--bootstrap .select2-selection--multiple { min-height: 32px; /** Make Multi Select2's choices match Bootstrap 3's default button styles. */ /** Minus 2px borders. */ /** Clear the selection. */ }

.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered { box-sizing: border-box; display: block; line-height: 20px; list-style: none; margin: 0; overflow: hidden; padding: 0; width: 100%; text-overflow: ellipsis; white-space: nowrap; }

.select2-container--bootstrap .select2-selection--multiple .select2-selection__placeholder { color: #9a9a9a; float: left; margin-top: 5px; }

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice { color: #222222; background: white; border: 1px solid #cdcdcd; border-radius: 4px; cursor: default; float: left; margin: 4px 0 0 5px; padding: 0 5px; }

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field { background: transparent; padding: 0 10px; height: 30px; line-height: 20px; margin-top: 0; min-width: 5em; }

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove { color: #999; cursor: pointer; display: inline-block; font-weight: bold; margin-right: 2.5px; }

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove:hover { color: #333; }

.select2-container--bootstrap .select2-selection--multiple .select2-selection__clear { margin-top: 5px; }

.select2-container--bootstrap.input-sm, .select2-container--bootstrap.input-lg { border-radius: 0; font-size: 12px; height: auto; line-height: 1; padding: 0; }

.select2-container--bootstrap.input-sm .select2-selection--single, .input-group-sm .select2-container--bootstrap .select2-selection--single, .form-group-sm .select2-container--bootstrap .select2-selection--single { border-radius: 3px; font-size: 11px; height: 27px; line-height: 17px; padding: 4px 21px 4px 9px; /* 2 */ }

.select2-container--bootstrap.input-sm .select2-selection--single .select2-selection__arrow b, .input-group-sm .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b, .form-group-sm .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b { margin-left: -4px; }

.select2-container--bootstrap.input-sm .select2-selection--multiple, .input-group-sm .select2-container--bootstrap .select2-selection--multiple, .form-group-sm .select2-container--bootstrap .select2-selection--multiple { min-height: 27px; }

.select2-container--bootstrap.input-sm .select2-selection--multiple .select2-selection__choice, .input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice, .form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice { font-size: 11px; line-height: 17px; margin: 3px 0 0 4.5px; padding: 0 4px; }

.select2-container--bootstrap.input-sm .select2-selection--multiple .select2-search--inline .select2-search__field, .input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field, .form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field { padding: 0 9px; font-size: 11px; height: 25px; line-height: 17px; }

.select2-container--bootstrap.input-sm .select2-selection--multiple .select2-selection__clear, .input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear, .form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear { margin-top: 4px; }

.select2-container--bootstrap.input-lg .select2-selection--single, .input-group-lg .select2-container--bootstrap .select2-selection--single, .form-group-lg .select2-container--bootstrap .select2-selection--single { border-radius: 6px; font-size: 18px; height: 39px; line-height: 23px; padding: 7px 29px 7px 14px; /* 1 */ }

.select2-container--bootstrap.input-lg .select2-selection--single .select2-selection__arrow, .input-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow, .form-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow { width: 5px; }

.select2-container--bootstrap.input-lg .select2-selection--single .select2-selection__arrow b, .input-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b, .form-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b { border-width: 5px 5px 0 5px; margin-left: -5px; margin-left: -7px; margin-top: -2.5px; }

.select2-container--bootstrap.input-lg .select2-selection--multiple, .input-group-lg .select2-container--bootstrap .select2-selection--multiple, .form-group-lg .select2-container--bootstrap .select2-selection--multiple { min-height: 39px; }

.select2-container--bootstrap.input-lg .select2-selection--multiple .select2-selection__choice, .input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice, .form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice { font-size: 18px; line-height: 23px; border-radius: 4px; margin: 6px 0 0 7px; padding: 0 7px; }

.select2-container--bootstrap.input-lg .select2-selection--multiple .select2-search--inline .select2-search__field, .input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field, .form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field { padding: 0 14px; font-size: 18px; height: 37px; line-height: 23px; }

.select2-container--bootstrap.input-lg .select2-selection--multiple .select2-selection__clear, .input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear, .form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear { margin-top: 7px; }

.select2-container--bootstrap.input-lg.select2-container--open .select2-selection--single { /** Make the dropdown arrow point up while the dropdown is visible. */ }

.select2-container--bootstrap.input-lg.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #9a9a9a transparent; border-width: 0 5px 5px 5px; }

.input-group-lg .select2-container--bootstrap.select2-container--open .select2-selection--single { /** Make the dropdown arrow point up while the dropdown is visible. */ }

.input-group-lg .select2-container--bootstrap.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #9a9a9a transparent; border-width: 0 5px 5px 5px; }

.select2-container--bootstrap[dir="rtl"] { /** Single Select2 1. Makes sure that .select2-selection__placeholder is positioned correctly. */ /** Multiple Select2 */ }

.select2-container--bootstrap[dir="rtl"] .select2-selection--single { padding-left: 22px; padding-right: 10px; }

.select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__rendered { padding-right: 0; padding-left: 0; text-align: right; /* 1 */ }

.select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__clear { float: left; }

.select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__arrow { left: 10px; right: auto; }

.select2-container--bootstrap[dir="rtl"] .select2-selection--single .select2-selection__arrow b { margin-left: 0; }

.select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder { float: right; }

.select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__choice { margin-left: 0; margin-right: 5px; }

.select2-container--bootstrap[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove { margin-left: 2px; margin-right: auto; }

/*------------------------------------*    #ADDITIONAL GOODIES
\*------------------------------------*/
/** Address Bootstrap's validation states If a Select2 widget parent has one of Bootstrap's validation state modifier classes, adjust Select2's border colors and focus states accordingly. You may apply said classes to the Select2 dropdown (body > .select2-container) via JavaScript match Bootstraps' to make its styles match. @see http://getbootstrap.com/css/#forms-control-validation */
.has-warning .select2-dropdown, .has-warning .select2-selection { border-color: #cd6d17; }

.has-warning .select2-container--focus .select2-selection, .has-warning .select2-container--open .select2-selection { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #eda15e; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #eda15e; border-color: #9f5412; }

.has-warning.select2-drop-active { border-color: #9f5412; }

.has-warning.select2-drop-active.select2-drop.select2-drop-above { border-top-color: #9f5412; }

.has-error .select2-dropdown, .has-error .select2-selection { border-color: #a33024; }

.has-error .select2-container--focus .select2-selection, .has-error .select2-container--open .select2-selection { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d96154; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d96154; border-color: #79241b; }

.has-error.select2-drop-active { border-color: #79241b; }

.has-error.select2-drop-active.select2-drop.select2-drop-above { border-top-color: #79241b; }

.has-success .select2-dropdown, .has-success .select2-selection { border-color: #209150; }

.has-success .select2-container--focus .select2-selection, .has-success .select2-container--open .select2-selection { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #43d580; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #43d580; border-color: #176739; }

.has-success.select2-drop-active { border-color: #176739; }

.has-success.select2-drop-active.select2-drop.select2-drop-above { border-top-color: #176739; }

/** Select2 widgets in Bootstrap Input Groups When Select2 widgets are combined with other elements using Bootstraps "Input Group" component, we don't want specific edges of the Select2 container to have a border-radius. Use .select2-bootstrap-prepend and .select2-bootstrap-append on a Bootstrap 3 .input-group to let the contained Select2 widget know which edges should not be rounded as they are directly followed by another element. @see http://getbootstrap.com/components/#input-groups */
/** Mimick Bootstraps .input-group .form-control styles. @see https://github.com/twbs/bootstrap/blob/master/less/input-groups.less */
.input-group .select2-container--bootstrap { display: table; table-layout: fixed; position: relative; z-index: 2; float: left; width: 100%; margin-bottom: 0; }

.input-group.select2-bootstrap-prepend .select2-container--bootstrap .select2-selection { border-bottom-left-radius: 0; border-top-left-radius: 0; }

.input-group.select2-bootstrap-append .select2-container--bootstrap .select2-selection { border-bottom-right-radius: 0; border-top-right-radius: 0; }

/** Adjust alignment of Bootstrap buttons in Bootstrap Input Groups to address Multi Select2's height which - depending on how many elements have been selected - may grow taller than its initial size. @see http://getbootstrap.com/components/#input-groups */
.select2-bootstrap-append .select2-container--bootstrap, .select2-bootstrap-append .input-group-btn, .select2-bootstrap-append .input-group-btn .btn, .select2-bootstrap-prepend .select2-container--bootstrap, .select2-bootstrap-prepend .input-group-btn, .select2-bootstrap-prepend .input-group-btn .btn { vertical-align: top; }

/** Temporary fix for https://github.com/select2/select2-bootstrap-theme/issues/9 Provides `!important` for certain properties of the class applied to the original `<select>` element to hide it. @see https://github.com/select2/select2/pull/3301 @see https://github.com/fk/select2/commit/31830c7b32cb3d8e1b12d5b434dee40a6e753ada */
.form-control.select2-hidden-accessible { position: absolute !important; width: 1px !important; }

/** Display override for inline forms */
.form-inline .select2-container--bootstrap { display: inline-block; }

/* Dropdowns ========================================================================== */
/*
Dropdown

markup:
<div class="k-dropdown">
    <a class="k-dropdown__toggle" data-k-toggle="dropdown" href="javascript:void(0)">
        Dropdown trigger
        <span class="k-caret" aria-hidden="true"></span>
    </a>
    <ul class="k-dropdown__menu" role="menu">
        <li><a href="javascript:void(0)">Dropdown item 1</a></li>
        <li><a href="javascript:void(0)">Dropdown item 2</a></li>
        <li><a href="javascript:void(0)">Dropdown item 3</a></li>
    </ul>
</div>

sg-wrapper:
<div style="height: 150px;">
    <sg-wrapper-content/>
</div>

Styleguide 2.6

*/
/*
Dropup

Drop it up when dropdown item is located at the bottom of a view

markup:
<div class="k-dropdown k-dropdown--dropup">
    <a class="k-dropdown__toggle" data-k-toggle="dropdown" href="javascript:void(0)">
        Dropup trigger
        <span class="k-caret" aria-hidden="true"></span>
    </a>
    <ul class="k-dropdown__menu" role="menu">
        <li><a href="javascript:void(0)">Dropdown item 1</a></li>
        <li><a href="javascript:void(0)">Dropdown item 2</a></li>
        <li><a href="javascript:void(0)">Dropdown item 3</a></li>
    </ul>
</div>

sg-wrapper:
<div style="height: 150px;">
    <div style="width: 10px;height: 130px;"></div>
    <sg-wrapper-content/>
</div>

Styleguide 2.6.1

*/
/*
Dropdown divider

Add a divider between dropdown items

markup:
<li class="k-dropdown__divider"></li>

sg-wrapper:
<div class="k-dropdown k-is-open">
    <a class="k-dropdown__toggle" data-k-toggle="dropdown" href="javascript:void(0)">
        Dropdown trigger
        <span class="k-caret" aria-hidden="true"></span>
    </a>
    <ul class="k-dropdown__menu" role="menu">
        <li><a href="javascript:void(0)">Item above divider</a></li>
        <sg-wrapper-content/>
        <li><a href="javascript:void(0)">Item below divider</a></li>
    </ul>
</div>

Styleguide 2.6.2

*/
/* Dropdown arrow/caret */
.k-caret { display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 4px dashed; border-right: 4px solid transparent; border-left: 4px solid transparent; }

/* The dropdown wrapper (div) */
.k-dropdown { position: relative; }

/** The dropdown menu (ul) 1. Hide by default, but block on "open" of the menu 2. Ensures proper alignment if parent has it changed (e.g., modal footer) */
.k-dropdown__menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; /* 1 */ float: left; min-width: 160px; padding: 5px 0; margin: 2px 0 0; list-style: none; text-align: left; /* 2 */ background-color: white; border: 1px solid #e0e0e0; border-radius: 4px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); background-clip: padding-box; /** Links within the dropdown menu 1. prevent links from randomly breaking onto new lines */ /* RTL */ }

.k-dropdown__menu a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 20px; color: #222222; white-space: nowrap; /* 1 */ }

[dir="rtl"] .k-dropdown__menu { left: auto; right: 0; }

/** Dividers (basically an hr) within the dropdown */
.k-dropdown__divider { height: 1px; margin: 13px 0; overflow: hidden; background-color: #e5e5e5; }

/* Hover / Focus state */
.k-dropdown__menu a:hover, .k-dropdown__menu a:focus { text-decoration: none; color: #151515; background-color: #e6e6e6; }

/* Active state */
.k-dropdown__menu .k-is-active a, .k-dropdown__menu .k-is-active a:hover, .k-dropdown__menu .k-is-active a:focus { color: white; text-decoration: none; outline: 0; background-color: #3071a9; }

/** Disabled state Gray out text and ensure the hover/focus state remains gray */
.k-dropdown__menu .k-is-disabled a { /** Nuke hover/focus effects 1. Remove CSS gradient */ }

.k-dropdown__menu .k-is-disabled a, .k-dropdown__menu .k-is-disabled a:hover, .k-dropdown__menu .k-is-disabled a:focus { color: #343434; }

.k-dropdown__menu .k-is-disabled a:hover, .k-dropdown__menu .k-is-disabled a:focus { text-decoration: none; background-color: transparent; background-image: none; /* 1 */ cursor: not-allowed; }

/* Open state for the dropdown */
.k-dropdown.k-is-open { /* Show the menu */ /* Remove the outline when :focus is triggered */ }

.k-dropdown.k-is-open > .k-dropdown__menu { display: block; }

.k-dropdown.k-is-open > a { outline: 0; }

/* Backdrop to catch body clicks on mobile, etc. */
.k-dropdown-backdrop { position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 990; }

/** Dropup Allow for dropdowns to go bottom up (aka, dropup-menu) */
.k-dropdown--dropup { /* Reverse the caret */ /* Different positioning for bottom up menu */ }

.k-dropdown--dropup .k-caret { border-top: 0; border-bottom: 4px dashed; content: ""; }

.k-dropdown--dropup .k-dropdown__menu { top: auto; bottom: 100%; margin-bottom: 2px; }

/*
Dropdown grid

Display a list of icons or images in a grid

markup:
<div class="k-dropdown">
    <a class="k-dropdown__toggle" data-k-toggle="dropdown" href="javascript:void(0)">
        Dropdown trigger
        <span class="k-caret" aria-hidden="true"></span>
    </a>
    <ul class="k-dropdown__menu k-dropdown__menu--grid">
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-3</sg-insert>
                <span class="k-visually-hidden">Archive icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-4</sg-insert>
                <span class="k-visually-hidden">Audio icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-5</sg-insert>
                <span class="k-visually-hidden">Default icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-6</sg-insert>
                <span class="k-visually-hidden">Document icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-8</sg-insert>
                <span class="k-visually-hidden">Image icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-9</sg-insert>
                <span class="k-visually-hidden">PDF icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-10</sg-insert>
                <span class="k-visually-hidden">Spreadsheet icon</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <sg-insert>2.12.1-11</sg-insert>
                <span class="k-visually-hidden">Video icon</span>
            </a>
        </li>
        <li class="k-dropdown__block-item">
            <a href="javascript:void(0)">Block level item</a>
        </li>
    </ul>
</div>

sg-wrapper:
<div style="height: 200px;">
    <sg-wrapper-content/>
</div>

Styleguide 2.6.3

*/
.k-dropdown__menu--grid { width: 212px; position: absolute; padding: 5px; }

.k-dropdown__menu--grid img { max-width: 16px; max-height: 16px; }

.k-dropdown__menu--grid li { float: left; width: 40px; height: 40px; margin: 0; padding: 0; display: block; }

[dir="rtl"] .k-dropdown__menu--grid li { float: right; }

.k-dropdown__menu--grid li a { display: block; padding: 0; margin: 0; width: 40px; height: 40px; text-align: center; border-radius: 3px; float: left; }

.k-dropdown__menu--grid li a [class^="k-icon-document-"], .k-dropdown__menu--grid li a [class*=" k-icon-document-"] { display: block; vertical-align: middle; margin: 12px auto; }

.k-dropdown__menu--grid .k-dropdown__block-item { min-width: 100%; clear: both; height: auto; margin: 5px 0 -5px; }

.k-dropdown__menu--grid .k-dropdown__block-item a { position: relative; height: auto; width: auto; float: none; border-top: 1px solid #e5e5e5; text-align: left; margin: 0 -5px; padding: 5px; border-radius: 0 0 4px 4px; }

[dir="rtl"] .k-dropdown__menu--grid .k-dropdown__block-item a { text-align: right; }

/* We need the dropdowns for the datepicker until we found a better datepicker */
/* Modal ========================================================================== */
/*
Modals

Modals using magnific popup (http://dimsemenov.com/plugins/magnific-popup/)
- Default modals are inline modals
- Add an element to open the button
- Add an element to be opened as a modal

markup:
<a class="k-js-inline-modal" data-mfp-src="#example-inline-modal" href="mobile-friendly-page.html">
    Open modal
</a>
<div id="example-inline-modal" class="mfp-hide">
    <div class="k-inline-modal">
        <p>Modal content</p>
    </div>
</div>

sg-wrapper:
<div>
    <sg-wrapper-content/>
</div>

Styleguide 2.15

*/
/*
Modal title

markup:
<a class="k-js-inline-modal" data-mfp-src="#example-inline-modal2" href="mobile-friendly-page.html">
    Open modal
</a>
<div id="example-inline-modal2" class="mfp-hide">
    <div class="k-inline-modal">
        <div class="k-inline-modal__title">Title</div>
        <p>Content</p>
    </div>
</div>

Styleguide 2.15.1

*/
/*
Small modal

markup:
<a class="k-js-inline-modal" data-mfp-src="#example-inline-modal3" href="mobile-friendly-page.html">
    Open modal
</a>
<div id="example-inline-modal3" class="mfp-hide k-small-inline-modal-holder">
    <div class="k-inline-modal">
        <div class="k-inline-modal__title">Title</div>
        <p>I'm a small modal</p>
    </div>
</div>

Styleguide 2.15.2

*/
/*
Iframe modal

markup:
<a class="k-js-iframe-modal" href="http://ui.joomlatools.com/#/section/4.2/fullscreen">
    Open modal
</a>

Styleguide 2.15.3

*/
/*
Image modals

Image modals do not need an item to be shown in a modal but use the `<a href="">` attribute instead

markup:
<a class="k-js-image-modal" href="joomlatools/images/placeholder-16-9.png">
    Open modal
</a>

sg-wrapper:

Styleguide 2.15.4

*/
.mfp-bg { top: 0; left: 0; width: 100%; height: 100%; z-index: 1042; overflow: hidden; position: fixed; background: #0b0b0b; opacity: 0.8; }

[dir="rtl"] .mfp-bg { left: auto; right: 0; }

.mfp-wrap { top: 0; left: 0; width: 100%; height: 100%; z-index: 1043; position: fixed; -webkit-backface-visibility: hidden; }

[dir="rtl"] .mfp-wrap { left: auto; right: 0; }

.mfp-container { text-align: center; position: absolute; width: 100%; height: 100%; max-height: 100%; left: 0; top: 0; padding: 0 8px; box-sizing: border-box; min-height: 420px; }

[dir="rtl"] .mfp-container { left: auto; right: 0; }

.mfp-container.mfp-inline-holder { padding-top: 40px; padding-bottom: 40px; }

.mfp-container .mfp-inline { display: block; width: auto; height: auto; padding: 15px; }

.mfp-container .mfp-iframe-scaler .mfp-iframe, .mfp-container .mfp-inline { background: white; box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

.mfp-container:before { content: ' '; display: inline-block; height: 100%; vertical-align: middle; }

.mfp-align-top .mfp-container:before { display: none; }

.mfp-content { position: relative; display: inline-block; vertical-align: middle; margin: 0 auto; text-align: left; z-index: 1045; min-width: 240px; max-width: 1080px !important; max-height: 800px !important; }

[dir="rtl"] .mfp-content { text-align: right; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content { cursor: auto; max-width: 1200px; width: 100%; max-height: 100%; margin: 0 auto; }

.mfp-ajax-cur { cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor: -moz-zoom-out; cursor: -webkit-zoom-out; cursor: zoom-out; }

.mfp-zoom { cursor: pointer; cursor: -webkit-zoom-in; cursor: -moz-zoom-in; cursor: zoom-in; }

.mfp-auto-cursor .mfp-content { cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter { user-select: none; }

.mfp-loading.mfp-figure { display: none; }

.mfp-hide { display: none !important; }

.mfp-preloader { color: #cccccc; position: absolute; top: 50%; width: auto; text-align: center; margin-top: -0.8em; left: 8px; right: 8px; z-index: 1044; }

.mfp-preloader a { color: #cccccc; }

.mfp-preloader a:hover { color: white; }

.mfp-s-ready .mfp-preloader { display: none; }

.mfp-s-error .mfp-content { display: none; }

button.mfp-close, button.mfp-arrow { overflow: visible; cursor: pointer; background: transparent; border: 0; -webkit-appearance: none; display: block; padding: 0; z-index: 1046; -webkit-box-shadow: none; box-shadow: none; }

button::-moz-focus-inner { padding: 0; border: 0; }

.mfp-close { position: absolute; text-decoration: none; opacity: 0.65; margin: 0; padding: 0; color: white; text-align: center; width: 40px; height: 40px; top: -40px; font-size: 21px; line-height: 25px; right: -14px; }

[dir="rtl"] .mfp-close { right: auto; left: -14px; }

.mfp-close:hover, .mfp-close:focus { border: none; background: transparent; margin: 0; padding: 0; color: white; opacity: 1; }

.mfp-close-btn-in .mfp-close { color: white; }

.mfp-counter { position: absolute; top: 0; right: 0; color: #cccccc; }

[dir="rtl"] .mfp-counter { right: auto; left: 0; }

.mfp-arrow { position: absolute; opacity: 0.65; margin: 0; top: 50%; margin-top: -55px; padding: 0; width: 90px; height: 110px; -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active { margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus { opacity: 1; }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a { content: ''; display: block; width: 0; height: 0; position: absolute; left: 0; top: 0; margin-top: 35px; margin-left: 35px; border: medium inset transparent; }

[dir="rtl"] .mfp-arrow:before, [dir="rtl"] .mfp-arrow:after, [dir="rtl"] .mfp-arrow .mfp-b, [dir="rtl"] .mfp-arrow .mfp-a { left: auto; right: 0; margin-left: 0; margin-right: 35px; }

.mfp-arrow:after, .mfp-arrow .mfp-a { border-top-width: 13px; border-bottom-width: 13px; top: 8px; }

.mfp-arrow:before, .mfp-arrow .mfp-b { border-top-width: 21px; border-bottom-width: 21px; }

.mfp-arrow-left { left: 0; }

[dir="rtl"] .mfp-arrow-left { left: auto; right: 0; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a { border-right: 17px solid white; margin-left: 31px; }

[dir="rtl"] .mfp-arrow-left:after, [dir="rtl"] .mfp-arrow-left .mfp-a { border-right: none; border-left: 17px solid white; margin-left: 0; margin-right: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b { border-right: 27px solid #3f3f3f; margin-left: 25px; }

[dir="rtl"] .mfp-arrow-left:before, [dir="rtl"] .mfp-arrow-left .mfp-b { border-right: none; border-left: 27px solid #3f3f3f; margin-left: 0; margin-right: 25px; }

.mfp-arrow-right { right: 0; }

[dir="rtl"] .mfp-arrow-right { right: auto; left: 0; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a { border-left: 17px solid white; margin-left: 39px; }

[dir="rtl"] .mfp-arrow-right:after, [dir="rtl"] .mfp-arrow-right .mfp-a { border-left: none; border-right: 17px solid white; margin-left: 0; margin-right: 39px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b { border-left: 27px solid #3f3f3f; }

[dir="rtl"] .mfp-arrow-right:before, [dir="rtl"] .mfp-arrow-right .mfp-b { border-left: none; border-right: 27px solid #3f3f3f; }

.mfp-iframe-holder { padding-top: 40px; padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content { line-height: 0; width: 100%; height: 100%; max-width: 1080px !important; max-height: 800px !important; }

.mfp-iframe-scaler { width: 100%; height: 0; overflow: hidden; padding-top: 56.25%; }

.mfp-iframe-scaler iframe { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); background: black; }

[dir="rtl"] .mfp-iframe-scaler iframe { left: auto; right: 0; }

.mfp-iframe-holder .mfp-close { top: -40px; }

/* Main image in popup */
img.mfp-img { width: auto; max-width: 100%; height: auto; display: block; line-height: 0; box-sizing: border-box; padding: 40px 0; margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure:after { content: ''; position: absolute; left: 0; right: 0; top: 40px; bottom: 40px; display: block; width: auto; height: auto; z-index: -1; box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); background: #444444; }

.mfp-figure { line-height: 0; }

.mfp-figure figure { margin: 0; padding: 0; }

.mfp-bottom-bar { margin-top: -36px; position: absolute; top: 100%; left: 0; width: 100%; cursor: auto; }

[dir="rtl"] .mfp-bottom-bar { left: auto; right: 0; }

.mfp-title { text-align: left; line-height: 18px; color: #f3f3f3; padding-right: 36px; }

[dir="rtl"] .mfp-title { text-align: right; padding-right: 0; padding-left: 36px; }

.mfp-figure small { color: #bdbdbd; display: block; }

.mfp-image-holder .mfp-content { max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure { cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) { /* Remove all paddings around the image on small screen */
  .mfp-img-mobile .mfp-image-holder { padding-left: 0; padding-right: 0; }
  .mfp-img-mobile img.mfp-img { padding: 0; }
  /* The shadow behind the image */
  .mfp-img-mobile .mfp-figure:after { top: 0; bottom: 0; }
  .mfp-img-mobile .mfp-bottom-bar { background: rgba(0, 0, 0, 0.6); bottom: 0; margin: 0; top: auto; padding: 3px 5px; position: fixed; box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty { padding: 0; }
  .mfp-img-mobile .mfp-counter { right: 5px; top: 3px; }
  [dir="rtl"] .mfp-img-mobile .mfp-counter { right: auto; left: 5px; }
  .mfp-img-mobile .mfp-close { top: 0; right: 0; width: 35px; height: 35px; line-height: 35px; background: rgba(0, 0, 0, 0.6); position: fixed; text-align: center; padding: 0; }
  [dir="rtl"] .mfp-img-mobile .mfp-close { right: auto; left: 0; }
  .mfp-img-mobile .mfp-figure small { display: inline; margin-left: 5px; }
  [dir="rtl"] .mfp-img-mobile .mfp-figure small { margin-left: 0; margin-right: 5px; } }

@media all and (max-width: 900px) { .mfp-arrow { transform: scale(0.75); }
  .mfp-arrow-left { transform-origin: 0; }
  .mfp-arrow-right { transform-origin: 100%; }
  .mfp-container { padding-left: 6px; padding-right: 6px; } }

.mfp-ie7 .mfp-img { padding: 0; }

.mfp-ie7 .mfp-bottom-bar { width: 600px; left: 50%; margin-left: -300px; margin-top: 5px; padding-bottom: 5px; }

[dir="rtl"] .mfp-ie7 .mfp-bottom-bar { left: auto; right: 50%; margin-left: 0; margin-right: -300px; }

.mfp-ie7 .mfp-container { padding: 0; }

.mfp-ie7 .mfp-content { padding-top: 44px; }

.mfp-ie7 .mfp-close { top: 0; right: 0; padding-top: 0; }

[dir="rtl"] .mfp-ie7 .mfp-close { right: auto; left: 0; }

/** Custom styling for inline modals */
.k-small-inline-modal-holder { position: relative; max-width: 480px !important; width: 100%; margin: auto; }

.k-inline-modal { padding: 20px; background: white; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); width: 100%; box-sizing: border-box; max-width: 1080px !important; max-height: 800px !important; overflow: auto; }

.k-inline-modal form { margin: 0; }

.k-inline-modal__title { margin: 0 0 20px 0; font-weight: 400; font-size: 18px; line-height: 23px; }

/* Select2 ========================================================================== */
/*
Select2

- Just add the class `k-js-select2` to any `<select>` element to transform it into a select2 element

markup:
<select class="k-form-control k-js-select2">
    <option value="1" selected>Example 1</option>
    <option value="2">Example 2</option>
    <option value="3">Example 3</option>
</select>

Styleguide 2.19

*/
/** 100% wide by default instead of just 220px making it responsive Important because width is being added by JS as inline styling */
.select2-container.select2-container--bootstrap { width: 100% !important; max-width: 100% !important; /* Set proper line-height so text is vertically centered */ /* Set proper height so arrow is vertically centered */ /* Set proper styling for the search input field */ /** 1. Set font-size to 16px on touch supported devices so browser won't automatically zoom */ }

.select2-container.select2-container--bootstrap .select2-selection--single { padding: 5px 10px; }

.select2-container.select2-container--bootstrap .select2-selection--single .select2-selection__rendered { line-height: 20px; }

.select2-container.select2-container--bootstrap .select2-selection--single .select2-selection__arrow { height: 32px; }

.select2-container.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered { padding-right: 5px; }

.select2-container.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice { max-width: 300px; overflow: hidden; text-overflow: ellipsis; }

.select2-container.select2-container--bootstrap .select2-search__field { height: 32px; margin: 0; }

.select2-container.select2-container--bootstrap .select2-search--inline:first-child .select2-search__field { width: auto !important; }

.select2-container.select2-container--bootstrap .select2-search--inline .select2-search__field { height: 30px; margin: 0; box-shadow: none; background: transparent; border: none; }

.k-touchevents .select2-container.select2-container--bootstrap [tabindex]:focus, .k-touchevents .select2-container.select2-container--bootstrap [tabindex]:active, .k-touchevents .select2-container.select2-container--bootstrap input:focus, .k-touchevents .select2-container.select2-container--bootstrap input:active { font-size: 16px !important; /* 1 */ }
