.view-login {
    background-color: transparent !important;
    background-image: url(../images/background.jpg);
    padding-top: 0;
}
div#element-box.login.well img{
  width:48%;
}
div.login-left{
  float: left;
  width: 50%;
}
div.login-right{
  float: right;
  width: 50%;
}
textarea#jform_country_brief{
	width: 90%;
	min-height: 183px;
}