/*Komento Dark Theme*/
div#section-kmt.kmt .kmt-title {
    background-color: #111;
    border: 1px solid #555;
}

div#section-kmt.kmt .form-control {
  background-color: #111;
  color: #fff;
  border: 1px solid #555;
}