/**
 * @package		Komento
 * @copyright	Copyright (C) 2012 Stack Ideas Private Limited. All rights reserved.
 * @license		GNU/GPL, see LICENSE.php
 *
 * Komento is free software. This version may have been modified pursuant
 * to the GNU General Public License, and as distributed it includes or
 * is derivative of works licensed under the GNU General Public License or
 * other free or open source software licenses.
 * See COPYRIGHT.php for copyright notices and details.
 */


/* GLOBAL CLASS & RESET
================================================== */

.kmt-mod  a{font-weight:inherit;}
.kmt-mod  a b{color:inherit;}
.kmt-mod .clear{clear:both;font-size:0;height:0;line-height:0}
.kmt-mod .clearfix{display:block;zoom:1}
.kmt-mod .clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.kmt-mod .small{margin:auto;font-size:90%;}
.kmt-mod .avatar{border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
.kmt-mod .mod-avatar{float:left;display:inline-block;margin:0 10px 0 0;}
.kmt-mod .mod-avatar *{display:inline-block;}
.kmt-mod .mod-item{overflow:hidden;position:relative;}
.kmt-mod .mod-item + .mod-item{border-top:1px solid #ccc;padding:15px 0 0;margin:15px 0 0;}

.kmt-mod .mod-comment-head{line-height:30px;position:relative;padding:0 0 8px;}
.kmt-mod .mod-comment-head i{background:url(../images/modules/bubble.png) 0 0 no-repeat;width:10px;height:10px;bottom:-1px;left:38px;position:absolute;}
.kmt-mod .mod-comment-text{background:#fff;border:1px solid #cacaca;padding:10px;margin:0 0 8px;font:italic 12px/1.4 Georgia,serif;color:#555;overflow:hidden;
	border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
.kmt-mod .mod-comment-text p{margin:0;padding:0;}
.kmt-mod .mod-comment-text p + p{margin-top:10px;}
.kmt-mod .mod-comment-text .mod-comment-page{padding:9px;margin:10px -10px -10px;background:#f5f5f5;border-top:1px solid #ccc;font:11px/1.3 Arial,sans-serif;color:#888;}
.kmt-mod .mod-comment-meta{padding-left:20px;line-height:16px;background:url(../images/modules/time.png) 0 1px no-repeat;}


.mod-item.stream,
.mod-item.stream + .mod-item.stream{position:relative;padding:15px 0;margin:0;}
.mod-item.stream > div{padding-left:40px;}
.mod-item.stream .stream-type{width:28px;height:28px;text-align:center;font:bold normal 17px/38px Arial,sans-serif;border:1px solid #d5d5d5;background-color:#f0f0f0;background-position:center;background-repeat:no-repeat;display:block;position:absolute;left:0;top:15px;
	border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
}
.mod-item.stream .stream-comment .stream-type{background-image:url(../images/modules/stream.chat.png);}
.mod-item.stream .stream-reply .stream-type{background-image:url(../images/modules/stream.reply.png);}
.mod-item.stream .stream-like .stream-type{background-image:url(../images/modules/stream.heart.png);}
.mod-item.stream .stream-head{margin-bottom:10px;}

.kmt-mod.is-rtl .mod-avatar{
    float: right;
    margin: 0 0 0 10px;
}
.kmt-mod.is-rtl .mod-comment-head i {
    left: auto;
    right: 38px;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
 
}
.kmt-mod.is-rtl .mod-comment-meta {
    background:url(../images/modules/time.png) no-repeat right 4px;
    padding-right: 20px;
    padding-left: 0;
}