@charset "UTF-8";
/** Orginal Style from http://tracy.nette.org (c) 2004 David Grudl <http://davidgrudl.com> */
/* toggle */
.koowa-collapsed { display: none; }

.koowa-toggle { cursor: pointer; border-bottom: 1px dotted #bbb; }

.koowa-toggle:after { content: " ▼"; font-size: 10px; color: #888; }

.koowa-toggle.koowa-collapsed { display: inline; }

.koowa-toggle.koowa-collapsed:after { content: " ►"; }

/* dump */
.arguments_wrapper { max-width: 100%; overflow: auto; white-space: nowrap !important; }

.arguments_wrapper pre.arguments { text-align: left; background: white; color: #555; line-height: 1.5em; white-space: nowrap !important; }

.arguments_wrapper pre.arguments div { padding-left: 3ex; }

.arguments_wrapper pre.arguments div div { border-left: 1px solid rgba(0, 0, 0, 0.1); margin-left: .5ex; }

.koowa-dump-array, .koowa-dump-object { color: #dc322f; }

.koowa-dump-string { color: #268bd2; }

.koowa-dump-number { color: #859900; }

.koowa-dump-null, .koowa-dump-bool { color: #b58900; }

.koowa-dump-visibility, .koowa-dump-hash { font-size: 85%; color: #657b83; }

.koowa-dump-indent { display: none; }

.koowa-dump-key:before { display: block; content: " "; width: 100%; height: 0; overflow: hidden; }
