// Layout file | currently only applies to DOCman config page
#extension_groups {
  @include clearfix;
  margin: 0;

  li {
    float: left;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }

    span {
      display: block;
    }
  }
}

// Secondary container for form elements | currently only applies to DOCman config page
.koowa_secondary_container {
  @media screen and (min-width: $queryWidthMedium) {
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
    margin-left: -10px;
    margin-right: -10px;
  }

  @media screen and (min-width: 980px) {
    margin-left: -20px;
    margin-right: -20px;
  }
}
.koowa_template_container .koowa_secondary_container {
  @media screen and (min-width: $queryWidthMedium) {
    margin-left: -20px;
    margin-right: -20px;
  }
}


// Document list
#document_list .koowa_grid__item {
  margin-bottom: 30px;

  td {
    @include wrap_words();
  }
}


// From layouts
.select2-container {
  margin-bottom: 9px;
  max-width: 100%;
}

.koowa_grid__row .select2-container,
.documents-filters .select2-container {
  max-width: none;
}


// Thumbnails
.thumbnail-picker {
  @include clearfix;

  li {
    margin-bottom: 8px;
  }
}

table {
  td {
    border-top: 1px solid #ddd;
  }
}
