#sp-main-body {
  padding: 0 !important;
}

#sp-header {
  background-image: url(../images/strip.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 83px;
}

img.sp-default-logo {
  width: 86%;
  border-right: solid 2px blue;
  padding-right: 30px;
}

#sp-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url(../images/strip.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 0%;
  background-color: #003c70;
}

.sp-module .sp-module-title {
  margin: 10px 0 10px;
}

.sp-module {
  border-radius: 5px;
}

.sp-module-content {
  padding: 5px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
  font-size: 18px;
}

div.custom_help {
  padding: 5px 13px;
  background: #e41e1b;
  border-radius: 8px;
}

div.custom_help h3 {
  text-transform: uppercase;
  font-size: 17px;
  border-bottom: solid 1px white;
  padding-bottom: 10px;
  margin-top: 4px;
}

div.custom_help p {
  line-height: 18px;
  font-size: 13px;
}

div.custom_help a {
  color: #fff;
}

div.sp-columnc {
  background: white;
  padding: 18px;
}

a#toolbar-new.btn.btn-success.toolbar.k-button.k-button--default.k-button-new.k-button--primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #409740 !important;
}

div.profile {
  background: #fff;
  padding: 16px;
  min-height: 650px;
  width: 98%;
}

#sp-footer {
  background: #003c70 url(/tmea_wip/images/strip.png) top no-repeat !important;
  padding: 16px 30px 0px;
  font-size: 11px;
}

div.sp-module._help {
  margin-top: 8px
}

div.userSection {
  display: block;
  margin-top: 25px;
  color: #003c70;
}

div.userSection a {
  color: red;
}

div.profile-edit {
  width: 98%;
}

.koowa {
  background-color: white;
  width: 98%;
}

div#sp-user-section.col-xs-4.col-sm-7.col-md-7 {
  float: right;
}

ltr.offcanvas .offcanvas-menu {
  left: 0 !important;
}

h1, .h1 {
  font-size: 20px !important;
}

.koowa .docman_download__filename {
  display: none;
}

.col-sm-8.col-md-8 .sp-column {
  width: 98%;
}

.sp-column.pull-right .sp-module {
  margin-right: 19px;
}

div.col-md-3.countries {
  border: solid 1px #ccc;
  display: block;
  color: #fff;
  text-align: center;
  width: 375px;
  height: 100px;
  padding: 1%;
  margin: 2px;
  height: auto;
  /*min-height: 350px;*/
}

div.col-md-3.countries a{
  color: #f5f5f5;
}
div.ibox.float-e-margins {
    background: #f5f5f5;
    padding: 1px 5px;
}
div.country_brief{
  background: #f5f5f5;
  padding: 10px 5px;
}
#featuredbox {
    border-color: #388da9 !important;
    border-bottom: 6px solid;
}
#featuredbox.has-search .featured-background, #featuredbox.has-search .pagetitle {
    height: 290px;
}
#featuredbox .pagetitle {
    height: 196px;
}
#featuredbox .pagetitle, #featuredbox .pagetitle h1 {
    color: #fff;
}
#featuredbox .pagetitle {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 40px;
    z-index: 16;
    display: table;
    text-align: center;
}
#featuredbox.has-search.is-404 .pagetitle>h1, #featuredbox.has-search.search-buddypress .pagetitle>h1 {
    bottom: -30px;
    display: inline-block;
}
#featuredbox.centered .pagetitle > h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 56px;
}
#featuredbox.has-search .pagetitle>h1 {
    font-size: 2.5em;
}
#featuredbox.centered .pagetitle>h1 {
    margin: 0;
    padding: 0 40px;
    position: relative;
    font-size: 4em;
    text-align: center;
    display: table-cell;
}
#featuredbox.centered .pagetitle>* {
    vertical-align: middle;
}
#featuredbox .pagetitle, #featuredbox .pagetitle h1 {
    color: #fff;
}

#featuredbox.centered .pagetitle>* {
    vertical-align: middle;
}
#featuredbox.has-search form {
    display: table-row;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    position: relative;
}
#featuredbox.has-search form input{
  color: #444444;
}
#featuredbox.has-search form input {
    border: 0;
    background: #fff;
    width: 50%;
    border-radius: 3px;
    padding: 15px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
#featuredbox.has-search form button{
      background: #ffa500 !important;
}
#featuredbox.has-search form button, #featuredbox.has-search form input[type=submit] {
    border: 0;
    font-size: 1.5em;
    margin-left: 20px;
    border-radius: 5px;
    padding: 14px 20px;
    line-height: normal;
    top: 4px;
    position: relative;
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s;
}
#featuredbox.has-search .featured-background, #featuredbox.has-search .pagetitle {
    height: 290px;
}

#featuredbox .featured-background {
    background-position: center center;
}

.featured-layer {
    /*background-color: #388da9;
    opacity: 0.8;*/
}

.featured-layer {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
#content-container {
    width: 100%;
    position: relative;
    z-index: 0;
}
#content-container #content {
    position: relative;
    top: -50px;
    width: 90%;
    margin: auto;
    padding-bottom: 1px;
}
#content-container .box {
    background: #fff;
    padding: 0;
    position: relative;
    max-width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.03);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.03);
    -ms-box-shadow: 0 1px 10px rgba(0,0,0,.03);
    box-shadow: 0 1px 10px rgba(0,0,0,.03);
}
#content-container .box {
    background: #fff;
    padding: 0;
    position: relative;
    max-width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.03);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.03);
    -ms-box-shadow: 0 1px 10px rgba(0,0,0,.03);
    box-shadow: 0 1px 10px rgba(0,0,0,.03);
}
#content-container .intern-padding {
  padding: 30px 30px;
  background: #fff;
  margin-bottom: 26px;
}
#projects-list {
    margin: 0;
    padding: 0!important;
    list-style-type: none;
}
#content-container #dashboard.masonry-layout--2-columns .box, #content-container .masonry-layout.masonry-layout--2-columns .box {
    width: 48%;
}
#content-container .masonry-layout .box {
    display: inline-block;
    padding: 0;
    margin: 0 1% 20px 1%;
}
#projects-list{
    border-color: #e8e8e8;
}
#projects-list {
    border-bottom: 1px solid;
}
#content-container .masonry-layout .box .intern-padding {
    padding: 20px;
    border-radius: 4px;
}
#content-container a{
    color: #388da9;
}
#content-container a {
    text-decoration: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
a.project-head {
    text-align: center;
    display: block;
}
#projects-list.masonry-layout .project-title {
    font-size: 1.3em;
}
a.project-head span{
    color: #9e9e9e;
}
a.project-head span {
    padding-right: 10px;
    font-size: 1.2em;
    font-style: italic;
}
.progress.project-progress {
    margin: 10px 0 20px 0;
    height: 30px;
    position: relative;
    box-shadow: none;
    border-radius: 20px;
}
.progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
#content-container .masonry-layout .box .intern-padding p {
    margin-top: 10px;
    margin-bottom: 0;
}

.project-excerpt {
    margin: 0;
}
#page-wrapper .btn.btn-default, input[type=submit] {
    text-transform: uppercase;
    border-radius: 2px;
    color: #fff;
    float: none;
    font-weight: 700;
    padding: 10px 18px;
    margin: 15px 0;
    border: 0;
    white-space: normal;
}

#content-container #bbpress-forums button[type=submit] i, #page-wrapper .btn.btn-default i {
    padding-right: 5px;
    position: relative;
}
#content-container .intern-box#project-nav{
    padding: 20px;
}
#content-container .intern-box#project-nav {
    border-radius: 5px 5px 0 0;
    border-top: 0!important;
}

#content-container .intern-box{
    background: #f4f4f4;
}
#content-container div.item-list-tabs ul, #content-container div.item-list-tabs-project ul, #content-container div.item-list-tabs-wiki ul {
    text-align: center;
    font-size: 0;
    margin: 0;
    padding: 0;
}
#content-container div.item-list-tabs-project ul li{
    margin: 5px 10px;
}
#content-container div.item-list-tabs-project ul li{
    float: none;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    list-style: none;
}
#content-container .intern-box#project-nav a{
    border-radius: 6px;
}
#content-container .intern-box#project-nav a, #content-container .intern-box#wiki-nav a {
    min-width: 120px;
    position: relative;
}
#content-container div.item-list-tabs ul li.active a, #content-container div.item-list-tabs-project ul li.active a, #content-container div.item-list-tabs-wiki ul li.active a {
    color: #fff;
}
#content-container div.item-list-tabs-project ul li a, #content-container div.item-list-tabs-wiki ul li a {
    border: 1px solid #ececef;
    border-radius: 5px;
    color: #84858d;
    box-shadow: 0 2px 1px rgba(0,0,0,.03);
}
#content-container div.item-list-tabs ul li>a:before, #content-container div.item-list-tabs-project ul li>a:before, #content-container div.item-list-tabs-wiki ul li>a:before {
    font-family: FontAwesome;
    padding-bottom: 5px;
    padding-right: 0;
    font-weight: initial;
    display: block;
    font-size: 2em;
}


#project-meta {
    padding: 20px;
    border-bottom: 1px solid;
    border-top: 1px solid;
        border-color: #e8e8e8;
}
div#sp-left.col-sm-4.col-md-4{
      background-color: #003c70;
          position: fixed;
              width: 17.33%;
              padding: 0;
}
