@font-face {
  font-family: 'TMEA';
  src: url('../fonts/serifastd-light-webfont.eot');
  src: url('../fonts/serifastd-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/serifastd-light-webfont.woff') format('woff'), url('../fonts/serifastd-light-webfont.ttf') format('truetype'), url('../fonts/serifastd-light-webfont.svg#serifa_std45_light') format('svg');
  font-weight: normal;
  font-style: normal
}

a {
    color: #e42425;
}

body, h1, h2, h3, h4, h5, p, span {
  font-family: Verdana, Helvetica, San-serif !important;
  /*font-family: TMEA,Verdana,Helvetica,San-serif !important;*/
}

h3, .h3 {
    font-size: 22px;
}
/*body.site.com-users.view-login.no-layout.no-task.en-gb.ltr.sticky-header.layout-fluid {*/

body.site.com-users {
  background-color: transparent !important;
  background-image: url(../images/background.jpg);
  color: #fff;
  /*font-family: TMEA,Verdana,Helvetica,San-serif !important;*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sp-main-body {
  padding: 0 !important;
}

#sp-header-sticky-wrapper {
  min-height: 60px;
}

#sp-header {
  background-image: url(../images/strip.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 54px;
  min-height: 60px;
  height: 60px;
}

#sp-header .logo {
  height: 60px;
}

#sp-header .logo h1 {
  color: #e42425;
  font-weight: 100;
  font-size: 22px;
}

.jevbootstrap h2 {
  font-size: 24.5px !important;
}

h2, .h2 {
  font-size: 25px !important;
  margin-top: 10px !important;
}

img.sp-default-logo {
  width: 100%;
  border-right: solid 2px blue;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  visibility: hidden;
}

#sp-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url(../images/strip.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 0%;
  background-color: #003c70;
}

.sp-module .sp-module-title {
  margin: 10px 0 10px;
}

.sp-module {
  border-radius: 5px;
}

.sp-module-content {
  padding: 5px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
  font-size: 18px;
}

div.custom_help {
  padding: 5px 13px;
  background: #e41e1b;
  border-radius: 8px;
}

div.custom_help h3 {
  text-transform: uppercase;
  font-size: 17px;
  border-bottom: solid 1px white;
  padding-bottom: 10px;
  margin-top: 4px;
}

div.custom_help p {
  line-height: 18px;
  font-size: 13px;
}

div.custom_help a {
  color: #fff;
}

div.sp-columnc {
  background: white;
  padding: 18px;
}

a#toolbar-new.btn.btn-success.toolbar.k-button.k-button--default.k-button-new.k-button--primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #409740 !important;
}

div.profile, div.profile-edit {
  background: #fff;
  padding: 16px;
  min-height: 650px;
  /*width: 98%;*/
  margin-top: 10px;
}

#sp-footer {
  background: #003c70 url(../../../images/strip.png) top no-repeat !important;
  padding: 1px 7px 0px;
  font-size: 11px;
  height: 30px;
}

div.sp-module._help {
  margin-top: 8px
}

div.userSection {
  display: block;
  margin-top: 10px;
  color: #003c70;
}

div.userSection a {
  color: red;
}

.koowa {
  width: 100%;
  border-radius: 4px;
  /*background-color: #f5f5f5; */
}

section.rowx.recent_documents {
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 10px #333;
  -moz-box-shadow: 0 1px 10px #333;
  -ms-box-shadow: 0 1px 10px #333;
  box-shadow: 0 1px 10px #333;
  background-color: #f5f5f5;
  padding: 10px;
}

div#sp-user-section.col-xs-4.col-sm-7.col-md-7 {
  float: right;
}

ltr.offcanvas .offcanvas-menu {
  left: 0 !important;
}

h1, .h1 {
  font-size: 20px !important;
}

.koowa .docman_download__filename {
  display: none;
}

.col-sm-8.col-md-8 .sp-column {
  width: 98%;
}

.sp-column.pull-right .sp-module {
  margin-right: 19px;
}

div.col-md-3.countries {
  border: solid 1px #ccc;
  display: block;
  color: #fff;
  text-align: center;
  width: 375px;
  height: 100px;
  padding: 1%;
  margin: 2px;
  height: auto;
  /*min-height: 350px;*/
}

div.col-md-3.countries a {
  color: #f5f5f5;
}

div.ibox.float-e-margins {
  border-radius: 4px;
  border: 1px;
  border-color: #333;
  background: #f5f5f5;
  padding: 1px 15px;
  -webkit-box-shadow: 0 1px 10px #333;
  -moz-box-shadow: 0 1px 10px #333;
  -ms-box-shadow: 0 1px 10px #333;
  box-shadow: 0 1px 10px #333;
}

div.country_brief {
  /*background: #f5f5f5;*/
  /*padding: 10px 5px;*/
}

#featuredbox {
  border-color: #388da9 !important;
  border-bottom: 6px solid;
}

#featuredbox.has-search .featured-background, #featuredbox.has-search .pagetitle {
  height: 290px;
}

#featuredbox .pagetitle {
  height: 196px;
}

#featuredbox .pagetitle, #featuredbox .pagetitle h1 {
  color: #fff;
}

#featuredbox .pagetitle {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 40px;
  z-index: 16;
  display: table;
  text-align: center;
}

#featuredbox.has-search.is-404 .pagetitle>h1, #featuredbox.has-search.search-buddypress .pagetitle>h1 {
  bottom: -30px;
  display: inline-block;
}

#featuredbox.centered .pagetitle>h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 56px;
}

#featuredbox.has-search .pagetitle>h1 {
  font-size: 2.5em;
}

#featuredbox.centered .pagetitle>h1 {
  margin: 0;
  padding: 0 40px;
  position: relative;
  font-size: 4em;
  text-align: center;
  display: table-cell;
}

#featuredbox.centered .pagetitle>* {
  vertical-align: middle;
}

#featuredbox .pagetitle, #featuredbox .pagetitle h1 {
  color: #fff;
}

#featuredbox.centered .pagetitle>* {
  vertical-align: middle;
}

#featuredbox.has-search form {
  display: table-row;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  position: relative;
}

#featuredbox.has-search form input {
  color: #444444;
}

#featuredbox.has-search form input {
  border: 0;
  background: #fff;
  width: 50%;
  border-radius: 3px;
  padding: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

#featuredbox.has-search form button {
  background: #ffa500 !important;
}

#featuredbox.has-search form button, #featuredbox.has-search form input[type=submit] {
  border: 0;
  font-size: 1.5em;
  margin-left: 20px;
  border-radius: 5px;
  padding: 14px 20px;
  line-height: normal;
  top: 4px;
  position: relative;
  color: #fff;
  opacity: 1;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  transition: opacity .4s;
}

#featuredbox.has-search .featured-background, #featuredbox.has-search .pagetitle {
  height: 290px;
}

#featuredbox .featured-background {
  background-position: center center;
}

.featured-layer {
  /*background-color: #388da9;
    opacity: 0.8;*/
}

.featured-layer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#content-container {
  width: 100%;
  position: relative;
  z-index: 0;
}

#content-container #content {
  position: relative;
  top: -50px;
  width: 90%;
  margin: auto;
  padding-bottom: 1px;
}

#content-container .box {
  background: #fff;
  padding: 0;
  position: relative;
  max-width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .03);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .03);
  -ms-box-shadow: 0 1px 10px rgba(0, 0, 0, .03);
  box-shadow: 0 1px 10px rgba(0, 0, 0, .03);
}

#content-container .box {
  background: #fff;
  padding: 0;
  position: relative;
  max-width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .03);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .03);
  -ms-box-shadow: 0 1px 10px rgba(0, 0, 0, .03);
  box-shadow: 0 1px 10px rgba(0, 0, 0, .03);
}

#content-container .intern-padding {
  padding: 30px 30px;
  /*background: #fff;*/
  margin-bottom: 26px;
}

#projects-list {
  margin: 0;
  padding: 0!important;
  list-style-type: none;
}

#content-container #dashboard.masonry-layout--2-columns .box, #content-container .masonry-layout.masonry-layout--2-columns .box {
  width: 48%;
}

#content-container .masonry-layout .box {
  display: inline-block;
  padding: 0;
  margin: 0 1% 20px 1%;
}

#projects-list {
  border-color: #e8e8e8;
}

#projects-list {
  border-bottom: 1px solid;
}

#content-container .masonry-layout .box .intern-padding {
  padding: 20px;
  border-radius: 4px;
}

#content-container a {
  color: #003c70;
}

#content-container a {
  text-decoration: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

a.project-head {
  text-align: center;
  display: block;
}

#projects-list.masonry-layout .project-title {
  font-size: 1.3em;
}

a.project-head span {
  color: #9e9e9e;
}

a.project-head span {
  padding-right: 10px;
  font-size: 1.2em;
  font-style: italic;
}

.progress.project-progress {
  margin: 10px 0 20px 0;
  height: 30px;
  position: relative;
  box-shadow: none;
  border-radius: 20px;
}

.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

#content-container .masonry-layout .box .intern-padding p {
  margin-top: 10px;
  margin-bottom: 0;
}

.project-excerpt {
  margin: 0;
}

#page-wrapper .btn.btn-default, input[type=submit] {
  text-transform: uppercase;
  border-radius: 2px;
  color: #fff;
  float: none;
  font-weight: 700;
  padding: 10px 18px;
  margin: 15px 0;
  border: 0;
  white-space: normal;
}

#content-container #bbpress-forums button[type=submit] i, #page-wrapper .btn.btn-default i {
  padding-right: 5px;
  position: relative;
}

#content-container .intern-box#project-nav {
  padding: 20px;
}

#content-container .intern-box#project-nav {
  border-radius: 5px 5px 0 0;
  border-top: 0!important;
}

#content-container .intern-box {
  background: #f4f4f4;
}

#content-container div.item-list-tabs ul, #content-container div.item-list-tabs-project ul, #content-container div.item-list-tabs-wiki ul {
  text-align: center;
  font-size: 0;
  margin: 0;
  padding: 0;
}

#content-container div.item-list-tabs-project ul li {
  margin: 5px 10px;
}

#content-container div.item-list-tabs-project ul li {
  float: none;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  list-style: none;
}

#content-container .intern-box#project-nav a {
  border-radius: 6px;
}

#content-container .intern-box#project-nav a, #content-container .intern-box#wiki-nav a {
  min-width: 120px;
  position: relative;
}

#content-container div.item-list-tabs ul li.active a, #content-container div.item-list-tabs-project ul li.active a, #content-container div.item-list-tabs-wiki ul li.active a {
  color: #fff;
}

#content-container div.item-list-tabs-project ul li a, #content-container div.item-list-tabs-wiki ul li a {
  border: 1px solid #ececef;
  border-radius: 5px;
  color: #84858d;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .03);
}

#content-container div.item-list-tabs ul li>a:before, #content-container div.item-list-tabs-project ul li>a:before, #content-container div.item-list-tabs-wiki ul li>a:before {
  font-family: FontAwesome;
  padding-bottom: 5px;
  padding-right: 0;
  font-weight: initial;
  display: block;
  font-size: 2em;
}

#project-meta {
  padding: 20px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #e8e8e8;
}

div#sp-left.col-sm-4.col-md-4 {
  background-color: #003c70;
  position: fixed;
  width: 17.33%;
  padding: 0;
}

.countries {
  background-color: #003c70;
  /*margin: 9px;*/
  padding-left: 0px;
  padding: 0px;
  height: 150px;
  /*width: 150px;*/
  border-radius: 4px;
  border: 1px solid;
  border-color: #ccc;
}

#ProjectsOverviewCountriesx {
  min-width: -webkit-fill-available;
  min-width: -moz-available;
}

#AboutTMEAInCountriesx {
  /*border: 1px solid; */
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 10px #333;
  -moz-box-shadow: 0 1px 10px #333;
  -ms-box-shadow: 0 1px 10px #333;
  box-shadow: 0 1px 10px #333;
  background-color: #f5f5f5;
  margin: 0px 4px 15px;
  min-width: -webkit-fill-available;
  min-width: -moz-available;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

#SelectCountriesBox {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 10px #333;
  -moz-box-shadow: 0 1px 10px #333;
  -ms-box-shadow: 0 1px 10px #333;
  box-shadow: 0 1px 10px #333;
  background-color: #f5f5f5;
  margin: 15px;
  min-width: -webkit-fill-available;
  min-width: -moz-available;
}

#countryflags {
  padding-top: 10px;
}

#RecentDocumentsBox {
  min-width: -webkit-fill-available;
  min-width: -moz-available;
}

.sp-module ul>li>a {
  color: rgb(255, 255, 255);
}

div#jevents {
  border-radius: 4px;
  background-color: #fff;
  padding-bottom: 12px;
}

#jevents_body {
  margin: auto;
  margin-top: 10px;
  width: 98% !important;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 10px #333;
  -moz-box-shadow: 0 1px 10px #333;
  -ms-box-shadow: 0 1px 10px #333;
  box-shadow: 0 1px 10px #333;
}

#jevents_body.contentpaneopen.jeventpage.jevbootstrap {
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  padding: 15px;
}

#jevents_body .nav-items>div a:hover {
  padding: 4px 12px 3px 12px;
  background-color: #CCC;
  border-left: 1px solid #ff3b30;
  color: #000;
}

div#jevents_body.contentpaneopen.jeventpage.jevbootstrap {
  background-color: #f5f5f5;
}

#sp-component {
  /*min-height: 550px !important;*/
  margin-bottom: 59px;
  padding-bottom: 10px !important;
}

h2.contentheading {
  font-weight: 400;
  color: #003c70;
}

a.ev_link_row:visited {
  color: #e42425;
}

a.ev_link_row:link {
  color: #003c70;
}

.form-links a {
  color: #fff;
}

.login {
  /*margin-top: 24%;*/
}

.login a {
  color: #003c70;
}

form#user-registration.form-validate {
  margin-top: 30%;
}

.login label {
  color: #000;
}

fieldset#users-profile-core, fieldset#users-profile-custom, div.control-label, span {
  color: #000 !important;
}

div.controls span {
  color: #fff;
}

.sp-module ul>li>a:hover {
  color: #fff;
  background: red !important;
}

.countries:hover {
  background: #74bf45;
  border: solid 1px #74bf45;
}

@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 480px) {
  a#offcanvas-toggler {
    float: left;
    line-height: 66px !important;
  }
  .breadcrumb {
    display: none !important;
  }
  h1 {
    font-size: 16px !important;
  }
  h2 {
    font-size: 16px !important;
  }
  div.userSection {
    display: none !important;
  }
  div#AboutTMEAInCountriesx h3 {
    padding-top: 10px;
  }
  div#AboutTMEAInCountriesx p {
    font-size: 12px !important;
  }
}

.clearfix {
  clear: both;
}

.k-icon-folder-closed::before {
  color: #fff;
}

span.jqtree-title.jqtree_common {
  /*color: #fff;*/
}

.jqtree_common.jqtree-selected.k-is-active span {
  color: #fff;
}

.sp-module {
  margin-top: 25px !important;
}

.sp-module:first-child {
  margin-top: 0 !important;
}

.breadcrumb span, .breadcrumb li {
  font-size: 12px !important;
}

.breadcrumb {
  margin: 0 !important;
}

.docman_list__content {
  margin-top: 3px;
  padding-right: 0 !important;
}

/*PMS*/

#uddeim-navbar2 ul li {
  float: left;
}

#uddeim-m {
  margin-top: 33px !important;
}

#uddeim-navbar2 ul li {
  display: inline !important;
  margin-right: 40px !important;
}

#uddeim-overview {
  padding: 0 !important;
}

#uddeim img, #uddeim a img {
  border: none;
  float: left;
  margin-right: 9px;
}

tr.sectiontableentry1 {
  text-align: center;
  vertical-align: middle;
}

div.uddeim-overview.x tr td {
  text-align: left !important;
}

td.date_td {
  text-align: left !important;
}

div.uddeim-messageheader {
  border: 1px solid rgba(136, 136, 136, 0.32) !important;
}

#uddeim-writeform textarea {
  width: 100% !important;
  height: 300px !important;
}

div.uddeim-sendoption input, form.email_notify_form input {
  margin-right: 5px !important;
}

div.col-xs-12.col-md-2.countries img {
  width: 100% !important;
  height: auto !important;
}

div.col-xs-12.col-md-2.countries h2, .h2 {
  font-size: 18px !important;
  margin-top: 15px !important;
}

.mod_events_latest {
  padding-top: 5px;
}

.uddeim-module-head a {
  color: #fff !important;
}

#txmod_129 {
  height: 109px !important;
  border: solid 0px red;
  width: 914px !important;
}

div.col-md-12.donors img {
  margin-left: -18px;
}

.featuredImg {
  position: relative;
  max-height: 325px;
  overflow: hidden;
  padding-top: 5px;
}

.featuredImg .entry-title {
  position: absolute;
  background: rgba(0, 0, 0, 0.4) url(../images/pillar-logo-small.png) no-repeat center left;
  color: #fff;
  /*font: 400 1.7em TMEA,Helvetica,San-serif;*/
  min-width: 35%;
  bottom: 2%;
  padding: 35px 35px 35px 105px;
  display: inline;
  max-width: 72%;
  text-transform: none;
  left: 0;
  z-index: 500;
}

div#sp-footer1.col-sm-6.col-md-6 p {
  margin: 0px;
}

div.hometext {
  position: absolute;
  top: 1.2%;
  right: 3%;
  color: #fff;
  background: rgba(0, 60, 112, 0.71);
  padding: 1px 12px 28px;
  width: 45%;
}

div.hometext .modal-body p, div.hometext .modal-body ul li, div.hometext .modal-body h4 {
  color: #000;
}

h4.modal-title {
  color: #000;
}

.modal-dialog {
  z-index: 2000;
}

div.modal.fade.in {
  display: block;
  margin: 0px auto !important;
  z-index: 10;
  width: 100% !important;
}

div.hometext h3 {
  font-size: large;
  color: #fff;
}

div.hometext p {
  font-size: small;
}

div.login input[type="text"] {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
