// Pagination
.k-pagination {
  margin-top: 20px;

  .k-pagination__limit {
    margin-right: 1em;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border: none;

    select {
      width: auto;
      margin: 0;
      height: 30px;
    }
  }

  .pagination {
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }

  ul {
    margin: 0;
  }
}