.koowa_anchor {
  visibility: hidden;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 100%;
  padding: 1px 5px;
  background: #fff;
  margin: -1px 0;
  border-right: 2px solid #bbb;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;

  a {
    position: relative;
    top: 50%;
    display: block;
    width: auto;
    height: 1em;
    line-height: 1em;
    margin: 0;
    padding: .25em;
    white-space: nowrap;
    border-radius: 0;
    border: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    text-shadow: none;
    letter-spacing: 0;
    background: transparent;
    color: #888;
    margin-top: -.75em;

    &:hover {
      background: transparent;
      color: #333;
      text-decoration: underline;
    }
  }
}

.koowa_header:hover .koowa_anchor {
  visibility: visible;
}