/* ==========================================================================
   Select2
   ========================================================================== */

/* 100% wide by default instead of just 220px making it responsive */

.select2.select2-container.select2-container--bootstrap {
  width: 100% !important;
  max-width: 100% !important;


  /* Set proper line-height so text is vertically centered */

  .select2-selection--single {
    .select2-selection__rendered {
      line-height: $line-height-base;
    }
  }


  /* Set proper height so arrow is vertically centered */

  .select2-selection--single {
    .select2-selection__arrow {
      height: $input-height-base;
    }
  }

  /* Set proper styling for the search */

  .select2-search__field {
    height: $input-height-base;
    margin: 0;
  }

  input[type]:focus {
    box-shadow: none;
  }
}

